<!DOCTYPE html>
<html lang="ja">

<!-- ヘッド・基礎情報 -->
<head>

    <!-- 基礎設定情報 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ページタイトル -->
    <title>{% block title %}Sensation-Sharing-SNS {% endblock %}</title>

    <!-- CSSのリンク -->
    <link rel="stylesheet" href="static/style/base.css">
    {% block style_link %}{% endblock %}

</head>

<!-- ボディ -->
<body>

    <!-- ヘッダー -->
    <header></header>

    <!-- ヘッダー以外 -->
    <div class="container">

        <!-- 左のサイドバー -->
        <aside class="left-sidebar">

            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('timeline') }}">Timeline</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a class="post-button" href="{{ url_for('post') }}">Post</a>
            
        </aside>
        
        <!-- 中央 -->
        
        {% block content %}
        {% endblock %}
        

        <!-- 右のサイドバー -->
        <aside class="right-sidebar">
            <form method="POST">
                <input type="text" name="query" placeholder="検索">
                <button type="submit">Search</button>
            </form>
            <div class="ai-comment">
                <h3>AI Comment</h3>
                <div class="ai-response"></div>
            </div>
        </aside>

    </div>

</body>
</html>

        
        
